* {
    padding: 0;
    margin: 0;
}

@page {
    size: landscape;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*    background-color: #FFD57C;*/
    
    font-family: 'Lato', sans-serif;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

h2,
h3,
p,
h4 {
    padding: 0.2rem 2rem;
    font-family: 'Open Sans', sans-serif;
}
/********************************
        TABS
********************************/

nav {
    height: rem;
    width: 100%;
}

ul.tabs {
    width: 100%;
    /*margin-bottom:30px;*/
}

.tabs li.tab {
    background-color: #808080;
    float: left;
    height: 2.9rem;
    display: inline-block;
    width: 50%;
}

.tabs li.tab a {
    display: block;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    color: #fff;
    text-decoration: none;
    /*	border: 1px solid #666;*/
    
    background-color: #808080;
    text-align: center;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
}

.tabs li.tab a.activetab {
    background: #383838;
    color: #0cf;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    /* 
  to hide the border on top of the page 
  for the active tab only
  */
    
    position: relative;
    /*    z-index: 30;*/
}
/********************************
        PAGES
********************************/

[data-role="page"] {
    position: absolute;
    top: 3rem;
    color: #bbb;
    margin-top: -1px;
    left: 100%;
    right: -10px;
    z-index: 10;
}

[data-role=page].active {
    left: 0;
    /*    right: 0;*/
    /*    z-index: 1;*/
    
    background: #383838;
    border-top: 1px solid #666;
    color: black;
}

[data-role=page].show {
    display: block;
}

[data-role=page].hidden {
    display: none;
}

[data-role="content"] {
    padding-top: 1.0rem;
}

[data-role="content"] p:last-child {
    padding-bottom: 4rem;
}
/*
[data-rel="back"] {
    float: left;
    color: #fff;
    padding: 0.3rem 1rem;
    color: #0C3;
    font-size: 1rem;
    line-height: 2.0rem;
    text-decoration: none;
    display: none;
}*/

#myCanvas {
    width: 100%;
}

object {
    pointer-events: none;
}

.img_setting {
    margin-left: 50%;
    width: auto;
}

#c {
    margin-left: 5%;
    float: left;
}
/*.img_draw {}*/

.takeimg {
    float: left;
    width: 100%;
}
/*
#stuff {
    float: left;
}
*/
/*new css*/

@font-face {
    font-family: Century;
    src: url('GOTHIC.ttf');
    */
}

body {
    font-family: Century;
    background: rgb(51, 51, 51);
    color: #fff;
}

#stuff {
    width: auto;
    height: auto;
}

.main_thumbails {
    width: auto;
    padding: 5px;
    height: 100px;
    display: block;
    /*    float: left;*/
}

.mainclassthumbnail {
    /*    height: auto;*/
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 15%;
    margin-left: 8%;
    margin-top: 5%;
    padding: 2px;
    float: left;
}

.txtbox {
    margin-top: 10%;
    margin-left: 30%;
    height: 30px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

#position {
    margin-top: 10%;
    margin-left: 30%;
    width: 100%;
    color: white;
}

#bottom {
    margin-left: 5%;
}

#b {
    margin-top: 10%;
    margin-left: 35%;
    width: 47%;
}

#b2 {
    margin-top: 10%;
    margin-left: 20%;
    width: 70%;
}

#c {
    margin-top: 5%;
}

.deletebtn {
    margin-top: 15%;
    margin-left: 20%;
}

.imgtag {
    float: left;
    width: 180px;
}

#full_image {
    width: auto;
    float: left;
}

.full_img {
    margin-left: 65%;
    margin-top: 5%;
}

#close {
    margin-left: 105%;
}